<table class="table table-striped table-bordered table-small">
    <thead class="sticky-top">
        <tr>
            <th *ngFor="let head of displayedColumns" scope="col">{{head}} </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let income of incomes" (click)="selectIncome(income)">
            <!-- <th scope="row">{{el.id}}</th> -->
            <td>{{income.familyMember.name}}</td>
            <td>
                <div *ngIf="!isIncomeSelected(income.id)">
                    {{income.income | currency:'EUR'}}
                </div>
                <div *ngIf="isIncomeSelected(income.id)">
                    <input type="text" class="form-control" (keyup.enter)="changeIncome($event, 'income')"
                        value={{income.income}}>
                </div>
            </td>
            <td>
                <div *ngIf="!isIncomeSelected(income.id)">
                    {{income.realIncome | currency:'EUR'}}
                </div>
                <div *ngIf="isIncomeSelected(income.id)">
                    <input type="text" class="form-control" (keyup.enter)="changeIncome($event, 'realIncome')"
                        value={{income.realIncome}}>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot class="grey lighten-5 w-100">
        <tr>
            <td><strong>Gesamt</strong></td>
            <td><strong>{{getTotalCost() | currency:'EUR'}}</strong></td>
            <td><strong>{{getTotalCostReal() | currency:'EUR'}}</strong></td>
        </tr>
    </tfoot>

</table>