<!-- <div class="demo-button-container">
    <button mat-raised-button (click)="addData()" class="demo-button">
      Add data
    </button>
    <button
        mat-raised-button
        [disabled]="!dataToDisplay.length"
        (click)="removeData()"
        class="demo-button">
      Remove data
    </button>
  </div> -->

<!-- <table mat-table [dataSource]="incomes" class="mat-elevation-z8">

    <ng-container matColumnDef="person">
        <th mat-header-cell *matHeaderCellDef>Person</th>
        <td mat-cell *matCellDef="let element">{{income.familyMember}}</td>
        <td mat-footer-cell *matFooterCellDef> Total </td>
    </ng-container>

    <ng-container matColumnDef="income">
        <th mat-header-cell *matHeaderCellDef>Income</th>
        <td mat-cell *matCellDef="let element">{{income.income}}</td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->

<table class="table table-striped">
    <thead>
        <tr>
            <th *ngFor="let head of displayedColumns" scope="col">{{head}} </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let income of incomes" (click)="selectIncome(income)">
            <!-- <th scope="row">{{el.id}}</th> -->
            <td>{{income.familyMember.name}}</td>
            <td>
                <div *ngIf="!isIncomeSelected(income.id)">
                    {{income.income | currency:'EUR':true}}
                </div>
                <div *ngIf="isIncomeSelected(income.id)">
                    <input type="text" class="form-control" (keyup.enter)="changeIncome($event)" value= {{income.income}}>
                </div>
            </td>
        </tr>
    </tbody>

</table>