<table class="table table-striped">
    <thead>
        <tr>
            <th *ngFor="let head of displayedColumns" scope="col">{{head}} </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let income of incomes" (click)="selectIncome(income)">
            <!-- <th scope="row">{{el.id}}</th> -->
            <td>{{income.familyMember.name}}</td>
            <td>
                <div *ngIf="!isIncomeSelected(income.id)">
                    {{income.income | currency:'EUR':true}}
                </div>
                <div *ngIf="isIncomeSelected(income.id)">
                    <input type="text" class="form-control" (keyup.enter)="changeIncome($event)" value= {{income.income}}>
                </div>
            </td>
        </tr>
    </tbody>

</table>