<h1 mat-dialog-title>{{output.id?"Ausgabe Ändern Dialog":"Ausgabe Erstellen Dialog"}}</h1>

<form [formGroup]="form" class="normal-form" (submit)="onSubmit()">
          <div class="controles-container">
            <mat-form-field [style.visibility]="showIdField ? 'visible' : 'hidden' ">
                <input formControlName="id" matInput value={{output.id}} placeholder="Id" >
              <mat-error>Only number.</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="name" matInput placeholder="Name">
              <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="price" matInput placeholder="Price"  >
              <mat-error>This field is mandatory and only number</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="comment" matInput placeholder="Comment" >
              <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>
            <mat-form-field >
              <mat-label>Type</mat-label>
              <mat-select formControlName="type" required>
                <mat-option *ngFor="let t of types" [value]="t">
                  {{ t }}
                </mat-option>
              </mat-select>
              <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>
            <div class="add-bottom-padding">
              <mat-checkbox formControlName="isPaid" (change)="onSelectionChanged($event)" [disabled]="form.invalid">Bezahlt</mat-checkbox>
            </div>
          </div>
          <div class="button-row">
            <button mat-button (click)="onNoClick()">Abbrechen</button>
            <button mat-button  [disabled]="form.invalid" type="submit" [mat-dialog-close]="output">OK</button>
          </div>
</form>
