<div >
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th *ngFor="let head of displayedColumns" scope="col">{{head}} </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let output of outputs" (click)="selectOutput(output)" [ngClass]="{
            'bg-success': output.isPaid, 
            '': !output.isPaid
            }">
                <td>{{output.name}}</td>
                <td>
                    {{output.itemType}}
                </td>
                <td>{{output.entryPrice | currency:'EUR':true}}</td>
                <td>
                    <button mdbBtn color="success" size="sm" mdbWavesEffect (click)="setAsPaid(output)" [ngClass]="{
                    'disabled': output.isPaid, 
                    '': !output.isPaid
                    }" [disabled]='output.isPaid'>
                        Paid
                    </button>
                    <button mdbBtn color="warning" size="sm" mdbWavesEffect
                        (click)="openChangeDialog(output)">Edit</button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>Total</td>
                <td></td>
                <td>{{getTotalCost() | currency:'EUR':true}}</td>
                <button mdbBtn color="danger" size="sm" mdbWavesEffect (click)="openCreatenDialog()">New Output</button>
            </tr>
        </tfoot>

    </table>
</div>